BODY {
  text-align: center;
  background-color: black;
}
P, H1, H2 {
  color: red
}
H1 {
  display: inline;
}
H2 {
  text-decoration: underline;
}
IMG {
  display: inline;
}
#the-footer {
  margin-bottom: 0;
  font-size: 14px;
}